apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: services
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  source:
    path: deployments/applications/services
    repoURL: https://github.com/ian-chan-ml/homelab
    targetRevision: HEAD
    kustomize:
      namePrefix: quanianitis.in-cluster.services.
  sources: []
  project: default
